alembic==1.0.0
click==6.7
CuriousORM==1.2.0
Django==1.11.28
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
mysqlclient==1.3.13
psycopg2==2.7.5
pudb==2018.1
pygame==1.9.3
Pygments==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
six==1.11.0
SQLAlchemy==1.2.10
urwid==2.0.1
Werkzeug==0.14.1
